body{
    background-color: black;
}

.card{
    background-color: white;
    position: absolute;
    top: 0%;
    left: 40%;
    right: 50%;
    height: 100%;
    width: 512px;
    transform-style: preserve-3d;
    transform: translate(-0%, -0%) perspective(2000px);
    box-shadow: inset 20px 0 50px rgba(0,0,0,.5), 0 20px 100px rgb(0,0,0,.5);
    transition: 1s;
}


.card:hover{
    transform: translate(-0%, -0%) perspective(2000px);
    box-shadow: inset 20px 0 50px rgba(0,0,0,.5), 0 20px 100px rgba(0,0,0,.5);
}


.card .img{
    width: 100%;
    height: 100%;
    position: relative;
    transform-origin: left;
    transition: 1s;
}

.card:hover .img{
    transform: rotateY(-135deg);
}


.card .detal{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    box-sizing: border-box;
    padding: 0px;
    z-index: -1;
}


/* .img{
    width: 100%;
    height: 100%;
} */

.img img{
    height: 100%;
}

.detal img{
    height: 100%;
}